@import "./normalize.scss";

$primary-gray: #272727;
$primary-blue: #2196F3;

html, body, main {
	height: 100%;
}
main {
  color: $primary-gray;
}
a {
  color: $primary-blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #607D8B;
  h1 & {
    text-decoration-style: dotted;
  }
}
a:visited {
  color: $primary-blue;
}
header {
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  background: $primary-gray;
  height: 40px;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  h1 {
    margin: 0;
    margin-left: 25px;
  }
}
main {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 480px;
}
.map {
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  top: 80px;
  iframe {
    width: 100%;
    height: 100%;
  }
}
.postlist {
  list-style: none;
  margin: 0;
  padding: 0;
  .post {
    margin-top: 15px;
    padding: 25px;
    border-bottom: 1px solid rgba(39, 39, 39, 0.15);
    background: rgba(113, 205, 221, 0.15);
    position: relative;
    display: block;
    text-decoration: none;
    padding-right: 90px;
    &:hover {
      &:after {
        right: 40px;
        opacity: 1;
        transform: rotate(135deg) scale(1);
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 25px;
      width: 25px;
      right: 50px;
      top: 35px;
      border-top: 1px solid black;
      border-left: 1px solid black;
      transform: rotate(135deg) scale(0.9);
      opacity: 0;
      transition: all 0.3s ease;
    }
    .title {
      color: $primary-blue;
      display: inline-block;
      font-size: 20px;
      margin-bottom: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    .pull {
      font-style: italic;
      color: $primary-gray;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
  }
}